<%- include("header") %>
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
        </div>
   
    <div class="box">
    

        <% for(let x =0; x < newItem.length; x++){%>
            <div class="item">
            <input type="checkbox">
            <p> <%=newItem[x]%> </p>
        </div>
            <% }%>
        
    <form action="/" method="post">
        <input type="text" placeholder="New item" autocomplete="off" autocapitalize="words" name="new_item">
        <%console.log(listTitle)%>
        <button name="button" value=<%=listTitle%> type="submit">+</button>
    </form>
</div>
<%- include("footer") %>
